@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg,#e6e9e956 0%,#e6e9e946 100%); /*crear variable background*/
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Modificando el encabezado de la pagina*/
/*HEADER*/
.header{
    height: 100vh;
    background-image:var(--background),url(../Imagenes/fondo-imagen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.social{
    font-size: 25px;
    font-weight: bold;
    display: flex; /*Display flex nos permite poner nuestros elementos uno del lado del otro */
    justify-content: space-between; /*Nos sirve para que nuestros elementos se dividan el ANCHO entre ellos*/
    align-items: center; /*Alinear los elementos dentro de mi nav-man verticalmente*/
    height: 80px; /*Altura de mi barra de navegacion de 60px*/
    margin: 0;
    width: 100%;
}
/*BARRA DE BAVEGACION ///////////////////////////////////////////////////////*/
.social-menu a{
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 5px;
    background-color: #fff;
    color: #333;
    border-radius: 40px;
    border-style: none;
    box-shadow: 2px 2px 9px rgb(48, 48, 48);
}

.social-menu a:hover{
    background-color: #333;
    color: aliceblue;
    opacity: 0.9;
}
.social-menu a:active{
    text-decoration: underline;
}

/*ICONOS DE CONTACTO //////////////////////////////////////////////////////*/
.wrapper{
    display:inline-flex;
    margin-right: 10px;
}
.wrapper .icon{
    margin: 0 20px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    z-index:2;
}
.wrapper .icon a{
    color: black;
    position:relative;
    z-index:2;
    height: 60px;
    width: 60px;
    display:block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius:50%;
    text-align:center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon a i{
    font-size:25px;
    line-height:60px;
}
.wrapper .icon .tooltip{
    position:absolute;
    top:0px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    color:white;
    opacity:0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover a,
.wrapp .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper .icon:hover a{
    color: #fff;
}

.wrapper .linkedin:hover a,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip:before{
    background:#3B5999;
}

.wrapper .whatsapp:hover a,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before{
    background:#32dd57;
}

.wrapper .github:hover a,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
    background:#333;
}

.wrapper .gmail:hover a,
.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip:before{
    background:#de463b;
}

/*Seccion del presentacion*/
.seccion{
    display: flex;
    width: 80%;
    height: 450px;
    margin: 30px auto;
}
.seccion h1{
    font-size: 3.5rem;
    color: rgb(255, 253, 253);
    text-shadow: 3px 2px 5px rgb(22, 22, 22);
}

.seccion-texto{
    margin: 150px 0 0px 0;
}
.seccion h2{
    font-size: 2.4rem;
    font-weight: 300;
    margin: 28px 0;
    font-weight: bold;
    color: rgb(8, 6, 6);
    text-shadow: 3px 2px 5px rgb(253, 253, 253);
}
/*EFECTO DE OLA */
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/*Seccion Sobre Mi*/
body{
    background: #ecf0f3;
}
main{
    font-family: 'Raleway', sans-serif;
    background: #ecf0f3;
}
.presentacion{
    text-align: center;
    margin: 100px auto;
    width: 90%;
}

.presentacion-imagen{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}


.presentacion-titulo{
    color:#667eea;
    font-size: 3rem;
    margin-bottom: 35px;
    font-style: italic;
    text-align: center;
}

.presentacion-texto{
    width: 80%;
    text-align: justify;
    margin: 15px auto;
    font-size: 1.1rem;
}

/*HABILIDADES ////////////////////////////////////////////*/
.skills{
    margin: 100px auto;
    width: 90%;
}

.contenedor-habilidades{
    display: grid;
    grid-template-columns: 70% 30%;
}

.skills-icons{
    margin-top: 50px;
}
.skills-icons h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills-icons div{
    font-size: 40px;
}

.skills-icons p{
    display: inline;
    margin-left: 10px;
    font-size: 1.1rem;
    position: relative;
    top: -6px;
    
}

.skills-icons li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

.skills-icons ul{
    display: inline-block;
    margin-right: 30px;
}

.skills-icons .back{
    position: relative;
    top: -55px;
}


.imagen-skills img{
    margin-left: 5px;
}

/*Mis proyectos*/

.contenedor-proyectos{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.proyecto-imagenes{
    display: grid;
    height: 550px;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}

.proyecto-imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:100%;
    cursor: pointer;
}

.projects__title a{
    color: #ecf0f3;
    text-decoration: none;
}

.a{
    grid-column: 1/3; /*Abarcar mas de una linea en este caso desde la linea 1 hasta la 3 --> 1/3*/
    grid-row: 1/3;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.b{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.projects__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.a:hover .projects__hover{
    transform: translateX(0%);
}

.b:hover .projects__hover{
    transform: translateX(0%);
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

/*Certificaciones */

.contenedor-certificaciones{
    margin: 40px auto;
    width: 90%;
}

.certificaciones-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.certificaciones-grid img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    margin: auto;
}

/*Foooter*/
.footer{
    width: 90%;
    margin: 75px auto;
}

.footer-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#nombre{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 10px;
}

.footer-texto{
    font-size: 1.2rem;
}

.contenedor-texto{
    margin: 70px auto;
}

.contenedor-texto a{
    color: black;
}

/*Reponsive*/

@media  screen and (max-width: 1000px){
    .header{
        width: 100%;
    }

    .social{
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .wrapper{
        margin-top: 50px;
    }

    .skills-icons{
        display: block;
    }

    .skills-icons ul{
        margin-bottom: 60px;
    }

    .proyecto-imagenes{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        height: 100%;
        margin: 50px auto;
    }

    .a{
        grid-column: 1/1; /*Abarcar mas de una linea en este caso desde la linea 1 hasta la 3 --> 1/3*/
        grid-row: 1/1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden; 
    }

    .certificaciones-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

@media  screen and (max-width: 400px){

    .social-menu a{
        font-size: 1rem;
        
    }

    .social-menu{
        width: 100%;
    }

    .header{
        width: 160%;
    }

    .social{
        width: 100%;
    }

    .seccion h1{
        font-size: 2.3rem;
    }

    .seccion h2{
        font-size: 1.6rem;
    }

    .hero__wave{
        width: 160%;
    }

    main{
        width: 160%;
    }

    .contenedor-habilidades{
        display: block;
        text-align: center;
    }

    footer{
        height: 300px;
    }
}