*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    
    background: #F5B3FF;
    background: -moz-linear-gradient(left, #F5B3FF 0%, #35FF95 55%, #F5B3FF 100%);
    background: -webkit-linear-gradient(left, #F5B3FF 0%, #35FF95 55%, #F5B3FF 100%);
    background: linear-gradient(to right, #F5B3FF 0%, #35FF95 55%, #F5B3FF 100%);
}

h1{
    text-align: center;
    margin: 3rem auto;
    font-size: 3rem;
    width: 100%;
}

#estilo-titulo{
    text-shadow: 0 1px 0px #315466, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    color: #76E98C;
    background-color: rgb(190, 172, 182, 0.37);
}